;; shadow-cljs configuration
{:source-paths
 ["src/dev"
  "src/main"
  "src/test"]

 :dependencies
 ;version 1.1.1 doesn't autoupdate depdenceies
 ; 0.9.1 downloads react
 [[reagent "1.1.1"]]

 :dev-http {9090 "public/"}

 :nrepl {:port 9001
         :middleware []}

 :builds
 {:app {:output-dir "public/compiledjs/"
        :asset-path "compiledjs"
        :target     :browser
        :modules    {:main {:init-fn markdownify.main/main!}}
        :devtools   {:after-load markdownify.main/reload!}}}}
